.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
  padding: 40px;

  overflow-wrap: break-word;
  word-break: break-word;
}
